<h1><%= @title %></h1>

<%= render 'form' %>

<% content_for :sidebar do %>
  <p><%= link_to 'Dodaj udrugu', new_organization_path %></p>
  <%= link_to 'Obriši udrugu', @organization, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

