<h1><%= @title %></h1>

<%= render 'form' %>

<% content_for :sidebar do %>
  <p><%= link_to 'Dodaj tim', new_organization_path %></p>
  <%= link_to 'Obriši tim', @organization, :confirm => 'Jeste li sigurni?', :method => :delete %>
<% end %>

